<script id="features-template" type="text/x-handlebars-template">
    <div class="row features__title section-title">
        <h3 class="text-uppercase">Почему именно мы</h3>
    </div>
    <div class="row features__list">
            {{#each features}}
            <div class="col-md-4 features__item">
                <div class="text-xs-center features__icon-wrapper">
                    <i class="fa fa-{{iconClass}} fa-3x"></i>
                </div>
                <h3 class="features__title text-xs-center">{{title}}</h3>
                <p class="features__text">{{{text}}}</p>
            </div>
            {{/each}}
    </div>
    <div class="row features__brand-title section-title">
        <h3 class="text-uppercase">Торговые бренды</h3>
    </div>
    <div class="row features__brand-wrapper">
        <img class="img-fluid" src="img/brands-bunner.jpg" alt="">
    </div>
</script>