<div class="row flex-md-middle flex-items-md-between nav-wrapper">
         <div class="col-md-4 col-lg-4">
            <!--<img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="logo">-->
             <a class="navbar-brand" href=""> <p class="logo-text">КБ - ЮГ</p> </a>
         </div>
    <nav class="global-nav navbar navbar-dark bg-faded col-md-8 col-lg-6">
        <button class="navbar-toggler navbar-toggleable-sm hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar">
            <div class="global-nav__items-list nav navbar-nav ">
                <a class="global-nav__item global-nav__item--main col-lg nav-item nav-link active" href="#">Главная<span class="sr-only">(current)</span></a>
                <a class="global-nav__item global-nav__item--features col-lg nav-item nav-link" data-scroll="Linear" href="#features">Преимущества</a>
                <a class="global-nav__item global-nav__item--contacts col-lg nav-item nav-link" data-scroll href="#contacts">Контакты</a>
                <a class="global-nav__item global-nav__item--about col-lg nav-item nav-link" data-scroll href="#about">О нас</a>
            </div>
        </div>
    </nav>
</div>