body
  background-color bg-color
  padding-top 32px

.no-container-padding
  margin 0 -15px

.no-border-radius
  border-radius 0

.section-title
  margin 32px 0
  color white
  background-color bg-color