article.card
  margin 0 -15px
  border-radius 0

@media (min-width: 1200px)
  .container.no-padding
    padding 0

  .inside.row-eq-height > [class*='col-lg']
    display flex
    margin-bottom 30px

    article
      flex-grow 1