.inside
  width 100%
  justify-content space-between
  padding 0

.card
  height 415px
  flex-basis 32%
  margin-bottom 33px
  box-sizing border-box

.content__card--small
  &:nth-of-type(5)
    margin-right 0


.content__card--wide
  flex-basis 66%
  margin-right 0

