
  .index-header
    position relative
    margin-bottom 32px

  #carousel-example-generic
    height: 570px

  .page-header__page-title
    //width 100%
    color: secondary-color
    padding-bottom 20px
    background-color white
    margin-bottom 30px
    color main-color
    .button-wrapper
      text-align right

    button:hover
      background-color secondary-color

      @media (min-width: 768px)
        text-align left

  .page-title__description {
    font-size 18px
    line-height 24px
  }

  .page-header__index-nav-item
    padding 0

  .nav-pills .nav-item+.nav-item
    margin 0

  .nav-pills .nav-link
    height 132px
    padding-top 1.33em
    padding-bottom 1.33em
    border-radius 0
    background-color #ffffff

    text-align center
    color main-color

    &:hover
      background-color secondary-color

  .nav-pills .nav-link.active
    background-color primary-active

@media (min-width: 768px)
  .page-header__page-title
    //position absolute
    //top 250px