.nav-wrapper
  margin-bottom 32px

.global-nav
  background-color main-color
  height 66px
  padding 0

  color #ffffff

.navbar-brand
  margin-right auto

.global-nav__items-list
  display flex
  color #ffffff

.navbar-nav .nav-item+.nav-item
  margin 0

.global-nav__items-list.navbar-nav .nav-link
  padding-top 1.3rem
  padding-bottom 1.3rem
  text-align center
  text-transform uppercase










